#RMC_Calendar {
    height:50%;
    width:95%;
    margin-left:2.5%;
    top:2.5%;
    background-color: grey;
}


#current_week{
    float:left;
    width:100%;
    height:25%;
    border-bottom:1px solid black;
}


#thee_week_lookahead{
    float:left;
    width:100%;
    height:25%;
}
