.basic_orbital {
    width:90%;
    margin-left:5%;
    height:25px;
    background-color: lightgrey;
    box-shadow: 0 0 2px black;
    padding-bottom:2px;
    padding-top:2px;
    padding-left:7px;

}
