<!doctype html>
<html id="" class="">

    <!-- style and script links go here -->
    <head>
        <title>Dauntless</title>
        <!-- <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script> -->
        <script src="{{ url_for('static', filename='js/jquery/jquery-3.5.1.min.js') }}"></script>

        <!-- Library imports for default and common elements -->
        <!-- <link rel="icon" href="{{ url_for('static', filename='images/pix_pin.png') }}" type="image/icon type"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstraps/normalize.css'  ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common_elements/buttons.css'  ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common_elements/fonts.css'  ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common_elements/containers.css'  ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/common_elements/status_flags.css'  ) }}">
        <script type="text/javascript" src="{{ url_for('static', filename='css/common_elements/containers.js'  ) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/common_functions/common_functions.js'  ) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/common_functions/ajax_links.js'  ) }}"></script>

        <!--universe_sim module imports-->
        <script type="text/javascript" src="{{ url_for('static', filename='js/universe_sim/universe_sim.js'  ) }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/universe_sim/universe_sim.css'  ) }}">

        <!-- Index imports -->
        <script type="text/javascript" src="{{ url_for('static', filename='js/navigation_links/navigation_links.js'  ) }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index/index.js'  ) }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index/greenscreen.css'  ) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index/index.css'  ) }}">

    </head>

    <!-- Header is generic to all pages and has its own stylesheet for clairity -->
    <header id="" class="">
    </header>

    <!-- body is required on all pages and can be styled differently according to the modules needs -->
    <body id="" class="">
        <div id="navigation_links" class="">
            <div id="nav_links_top" class="">
                <input type="button" id="home" class="" value="QR Portable Server" />
            </div>
            <div id="nav_links_bottom" class="">
                <div id="route_map_links" class="">
                    <input type="button" id="activate_universe_sim" class="btn_underlined nav_button" value="PyRail" />
                </div>
            </div>
        </div>


        <div id="session" class="">
            <div id="session_unique" class="">
                <input type="button" id="server_settings" class="btn_column" value="Locals Settings"/>
                <input type="button" id="server_information" class="btn_column" value="Help"/>
                <input type="button" id="server_reset" class="btn_column" value="Reset Connection"/>
            </div>

            <div id="session_common" class="">
                <div id="session_common_filters" class="" data-active="false">
                    <div id="session_common_filters_title" class="">Redbook</div>
                    <div id="session_common_filters_content" class=""></div>
                </div>

                <input type="button" id="session_filters" class="btn_column_full static_option" value="Filter and refresh:" />
                <input type="button" id="" class="btn_column_full" value="Reports"/>
                <input type="button" id="" class="btn_column_full" value="Import"/>
            </div>

            <div id="session_alerts" class="">
            </div>
        </div>


        <div id="main_window" class="">
            <div id="main_window_content" class="toolbar">main_window</div>
            <div id="main_window_toolbar" class="toolbar" data-active="false">
                <div id="main_window_toolbar_form" class=""></div>
                <input type="button" id="toggle_main_window_form_bar" class="" value=""/>
            </div>
        </div>
    </body>
</html>
<div id="debug_dom_element"></div>
