.btn_underlined {
    height:90%;
    border:none;
    border-bottom:1px solid white;
    background-color:inherit;
    font-family:Garamond ;
    transition:border 0.-1s;
}
.btn_underlined:hover {
    cursor:pointer;
    filter:brightness(125%);
    border-bottom:3px solid #0099ff;

}
.btn_underlined:active, .btn_underlined:focus {
    order:none;
    border-bottom:5px solid white;
    outline:none;
}



.btn_column {
    height:35px;
    width:90%;

    margin-top:5px;
    margin-left:5%;
    border:none;
    border-bottom:1px solid black;
    background-color:inherit;
    font-family:Garamond ;
    font-size: 15pt;
}
.btn_column:hover {
    background-color:white;
    cursor:pointer;
    font-weight:bold;
    filter:brightness(125%);
    outline:0px;
    box-shadow:0 0 5px black;
}



.btn_column_full {
    height:35px;
    width:100%;
    margin-top:5px;
    border:none;

    border-left:0px solid black;
    border-right:0px solid black;
    background-color:inherit;
    background-color:#f2f2f2;
    font-family:Garamond ;
    font-size: 15pt;
    outline:0px;
}
.btn_column_full:hover {
    background-color:#f2f2f2;
    cursor:pointer;
    font-weight:bold;
    filter:brightness(125%);
    box-shadow:0 0 2px black;
}



.btn_alert {
    cursor:pointer;
    /*text-shadow:0 0 25px black;*/

    color:white;
    /*background-color:#f2f2f2 !important;*/
    height:fit-content;
    width:95%;
    margin-top:5px;
    /*margin-left:2.5%;*/
    padding:2.5%;
    border:1px solid black;
    border-radius:5px;
    border-bottom:1px solid black;
    border:none;
    background-color:inherit;
    font-family:Garamond ;
    font-size: 10pt;
    text-align:left;
    word-wrap:normal;
    overflow-x:hidden;
}
.btn_alert:hover {
    filter:brightness(125%);
}
.btn_alert:active, .btn_alert:focus {
    border:none;
    outline:none;
}
.btn_alert_good {
    background-color:#005580;
}
.btn_alert_bad {
    background-color:#800000;
}


.full_height_btn {
    height:inherit;
}



.grad_btn {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 6px black;
    font-family: Arial;
    color: #000000;
    text-decoration: none;
    border:none;
    outline:none;
}
.grad_btn:hover {
    cursor:pointer;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
    text-decoration: none;
}
.grad_btn:active {
    box-shadow:inset 0px 1px 3px black;
}

.btn_nav_focus {
    outline:1px solid #f2f2f2 !important;
    box-shadow:inset 0px 1px 3px black;
    border-bottom:5px solid white;
}
.grad_btn_noshadow {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #000000;
    text-decoration: none;
    border:none;
    outline:none;
}

.grad_btn_noshadow:hover {
    cursor:pointer;
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background-image: linear-gradient(to bottom, #ffffff, #d6d6d6);
    text-decoration: none;
}
.grad_btn_noshadow:active {
    box-shadow:inset 0px 1px 3px black;
}
