html {
    min-height:100vh;
    height:auto;
    max-height:;
    min-width:100vw;
    max-width:;
    overflow-x:hidden;
    overflow-y:hidden;
}

#navigation_links {
    position:absolute;
    top:0px;
    left:250px;
    height:75px;
    width:100%;
    background-color:#005580;
}
#navigation_links #nav_links_top {
    float:left;
    height:25px;
    width:inherit;
}
#navigation_links #nav_links_top #home {
    color: black;
    background-color: #b3d6e6 ;
    height:25px;
    line-height: 25px;
    text-align:center;
    height:inherit;
    width:inherit;
    font-family:Garamond;
    font-weight:bold;
    cursor:pointer;
    transition:font-size 0.15s;
    outline:none;
    border:none;
}
#navigation_links #nav_links_top #home:hover {
    /*font-size:12.5pt;*/
    cursor:pointer;
    text-shadow:0 0 15px white;
}
#navigation_links #nav_links_bottom {
    float:left;
    height:50px;
    width:inherit;
}
#navigation_links #nav_links_bottom #route_map_links {
    text-align:center;
    height:inherit;
    width:inherit;
}
#navigation_links #nav_links_bottom #route_map_links input {
    color: white;
}


#session {
    position:absolute;
    top:0px;
    left:0px;
    height:100%;
    width:250px;
    background-color:#f2f2f2;
    background-image: linear-gradient(-30deg, #f2f2f2 70%, #b3d6e6 calc(70% + 2px));
    overflow-y:visible;
    overflow-x:visible;
}
#session #session_unique {
    height:14%;
    border-bottom:3px double black;
    padding-left:5%;
    padding-right:5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    width:90%;
    overflow-y:hidden;
}
#session #session_common {
    height:58%;
    padding-left:5%;
    padding-right:5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    width:90%;
    overflow-x:visible;
    z-index: 1001;
}
#session #session_common #session_filters {
    width:112%;
    margin-top:-0.25%;
    margin-left:-6%;
    color:white;
    background-color: #005580;
    outline:none;
    border:none;
}
#session #session_common #session_filters:hover {
    filter:contrast(150%);
    font-weight:normal;
}
#session_common #session_common_filters {
    position:absolute;
    background-color: grey;
    right:-15px;
    height:inherit;
    width:0px;
    z-index: 1000;
    box-shadow:inset 0 0 2px black;
    border-right:15px solid #005580;
    overflow:hidden;
    transition:width 0.15s, right 0.15s;
}
#session_common_filters #session_common_filters_title {
    text-align: center;
    width:100%;
    line-height: 35px;
    height:35px;
    font-weight: bold;
    font-size:13pt;
    background-color:#005580;
    color:white;
    font-family: Garamond;
    cursor:pointer;
    margin-bottom:7px;
}
#session_common_filters #session_common_filters_content {

}
#session_common_filters #roster_generate {
    margin-bottom:5px;
}
#session_common_filters_content .fullwidth_input {
    height:35px;
    width:90%;
    margin-left:5%;
}




#session #session_alerts {
    height:25%;
    padding-left:5%;
    padding-right:5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
    width:90%;
    overflow-y:scroll;
    overflow-x:hidden;

    /*box-shadow:inset -0px -15px 25px black; */
    background-color: lightgrey;
    outline:3px solid #f2f2f2;
    outline-offset:-3px;
}



#main_window {
    position:absolute;
    top:75px;
    left:250px;
    background-color:#4D4949;
    box-shadow:inset 0 0 2px black;
    z-index:900;
}
#main_window #main_window_content {
    height:inherit;
    overflow-y: scroll;
}
#main_window #main_window_toolbar {
    position:absolute;
    height:45px;
    right:45px;
    width:45px;
    top:2%;
    /*background:#595959;*/
    background:lightgrey;
    box-shadow:0 0 5px black;
    transition: width 0.15s, height 0.15s;

    overflow-y:auto;
    overflow-x:hidden;
}
#main_window #main_window_toolbar #main_window_toolbar_form {
    float:left;
    margin-top:2.5%;
    margin-left:6.5%;
    height:95%;
    width:90%;
    box-shadow:inset 0 0 0px black;
    overflow-x:hidden;
}
#main_window #main_window_toolbar #toggle_main_window_form_bar {
    cursor:pointer;
    background-color:#005580 ;
    position:absolute;
    height:100%;
    width:45px;
    left:-0px;
    outline:1px solid black;
    border:none !important;
    box-shadow:none;
    transition:left 0.15s;
    overflow-x:hidden;
}
#main_window #main_window_toolbar #toggle_main_window_form_bar:hover {
    filter:contrast(150%);
}







.padded_full_height {
    min-height:95%;
    max-height:95%;
    margin-top:2.5%;
    overflow-y:auto;
}
.padded_twothirds_height {
    min-height:70%;
    max-height:70%;
    margin-top:5%;
    overflow-y:auto;
}

.half_column {
    float:left;
    min-width:45%;
    max-width:45%;
    background:;
}
.thirds_column {
    float:left;
    min-width:30%;
    max-width:30%;
    margin-left:1%;
    margin-right:1%;
    background:;
}
