

.urgent_error{
    border-left: 10px solid #f29a8c !important;

}

.error_warning {
    border-left: 10px solid #edaf5e !important;

}

.completed {
    border-left: 10px solid #8CDB61 !important;

}

.force_neutral {
    border-left: 10px solid #f2f2f2 !important;

}




.urgent_error_background{
    background-color: #f29a8c !important;

}

.error_warning_background{
    background-color: #edaf5e !important;

}

.completed_background{
    background-color: #8CDB61 !important;

}

.force_neutral_background{
    background-color: #f2f2f2 !important;

}
